{% extends 'main/layout.html' %}

{% block title %}Главная страница{% endblock %}

{% block content %}
    <div class="features">
        <h1>Главная страница</h1>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Fuga suscipit amet, aspernatur dolores quasi fugit facilis dolorum eius aliquid consequuntur, vitae, numquam labore corporis praesentium excepturi. Voluptatem delectus aspernatur deserunt.</p>
        <a href="{% url 'about' %}"><button class="btn btn-warning">На страницу про нас</button></a>
    </div>
{% endblock %}