{% extends 'main/layout.html' %}

{% block title %}{{ title }}{% endblock %}

{% block content %}
    <div class="features">
        <h1>{{ title }}</h1>
        <h2>Простой Новостной сайт</h2><br>
        <h5>Полность реализован CRUD </h5><br>
        <h5>Используется База postgresql</h5><br>  
        <a href="{% url 'about' %}"><button class="btn btn-warning">На страницу про нас</button></a>
        <a href="{% url 'news_home' %}"><button class="btn btn-warning">Новости</button></a>

    </div>
{% endblock %}